/*
* @Author: aicai
* @Date:   2017-10-10 10:17:39
* @Last Modified by:   aicai
* @Last Modified time: 2017-10-20 14:27:59
*/
@import url('base.css');
/* 头部开始 */
header{
	width: 100%;
	height: 0.92rem;
	background: #ed772f;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	padding: 0.15rem;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.sys{
	display: block;
	width: 0.54rem;
	height: 0.54rem;
	font-size: 0.54rem;
	color: white;
	line-height: 0.54rem;
	padding: 0;
	/* background: pink; */
	
}
.ssk{
	width: 4.13rem;
	height: 0.62rem;
	float: left;
	background: #ffffff;
    border-radius: 0.3rem;
}
.ssz {
	width: 3.18rem;
	height: 0.62rem;
    float: left;
    /* background: black； */
}
.sst {
	display: block;
    width: 0.8rem;
	height: 0.62rem;
	float: right;
	/* background: white； */
}
.ssz input{
	width: 100%;
	height: 0.62rem;
	float: left;
	border: 0;
	border-radius: 0.3rem;
	background: #ffffff;
	padding-left: 0.12rem;
	outline: none;
    
}
.sst img{
	display: block;
    width: 100%;
	height: 100%;
	float:right ;
}

.xx{
	display: block;
	width: 0.54rem;
	height: 0.74rem;
	float: left;
	/* background: pink; */
}
.xx img{
	display: block;
	width: 0.54rem;
	height: 0.48rem;
}
/* 头部结束 */
/* 头条开始 */
.jktt-bac{
	margin-top: 0.92rem;
	width: 100%;
	height: auto;
	
	/* background: red; */
}
.jktt-title{
	width: 7.5rem;
	height: 0.9rem;
	margin: 0 auto;
	background:#f5f5f5;
	border-bottom:0.02rem solid #e0e0e0;
	display: flex;
	justify-content: space-around;
}
.jktt-title li{
	width: 0.6rem;
	height: 0.3rem;
	float: left;
	margin: 0.3rem 0.26rem;
	font-size: 0.3rem;
	color: #000;
}
.jktt-nr{
	width: 7.5rem;
	height: auto;
	margin: 0 auto;
}
.jktt-nr li{
	margin: 0.13rem 0.26rem;
	height: 2.2rem;
	width: 6.98rem;
	border-bottom: 0.01rem solid #ebebeb;
	/* padding-top: 0.15rem; */
	/* background: red; */
}
.jktt-nr li a{
	display: block;
	width: 100%;
	height: 100%;
}
.jktt-nrrit{
	width: 4.9rem;
	height: 2.02rem;
	/* background: blue; */
	float: right;
	/* margin-top: 0.25rem; */
}
.jktt-nrrittop{
	font-size: 0.3rem;
	line-height: 0.44rem;
	color: #000;
}
.jktt-nrritmid{
	
	font-size: 0.26rem;
	color: #a9aaa9 ;
	line-height: 0.26rem;
	margin-top: 0.1rem;
	/* background: red; */
}
.jktt-nrlet{
	width: 1.93rem;
	height: 2.02rem;
	float: left;
	/* margin-top: 0.25rem; */
	/* background: blue; */
}
.jktt-nrlet img{
	display: block;
	width: 100%;
	height: 100%;
}
.jktt-nrritbot{
	width: 4.9rem;
	height: 0.75rem;
	margin-top: 0.35rem;
	display: flex;
	justify-content: space-between;
}
.jktt-nrritbot .jktt-nrritbot1{
	width: 1.4rem;
	height: 0.75rem;
	/* background: red; */
}
.jktt-nrritbot2{
	width: 1.4rem;
	height: 0.4rem;
	font-size: 0.4rem;
	color: #ee7975;
}
.jktt-nrritbot3{
	width: 1.6rem;
	height: 0.2rem;
	margin-top: 0.15rem;
	font-size: 0.2rem;
	color: #9b9b9b;
}
/* 头条结束 */
